[submodule ".vim/autoload"]
	path = .vim/autoload
	url = git://github.com/paulnicholson/vim-pathogen.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/spf13/snipmate.vim.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git://github.com/spf13/snipmate-snippets.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/scratch"]
	path = .vim/bundle/scratch
	url = git://github.com/duff/vim-scratch.git
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/pastie"]
	path = .vim/bundle/pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/swapit"]
	path = .vim/bundle/swapit
	url = git://github.com/mjbrownie/swapit.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/diffchanges"]
	path = .vim/bundle/diffchanges
	url = git://github.com/jmcantrell/vim-diffchanges.git
[submodule ".vim/bundle/cocoa"]
	path = .vim/bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/taglist-plus"]
	path = bundle/taglist-plus
	url = https://github.com/vim-scripts/taglist-plus
