[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/plugins/start/vim-easymotion"]
	path = .vim/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/pack/plugins/start/ctrlp"]
	path = .vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/plugins/start/ZoomWin"]
	path = .vim/pack/plugins/start/ZoomWin
	url = https://github.com/regedarek/ZoomWin
[submodule ".vim/pack/plugins/start/vim-indent-guides"]
	path = .vim/pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/pack/plugins/start/numbers.vim"]
	path = .vim/pack/plugins/start/numbers.vim
	url = https://github.com/myusuf3/numbers.vim
[submodule ".vim/pack/plugins/start/scratch.vim"]
	path = .vim/pack/plugins/start/scratch.vim
	url = https://github.com/ethanmuller/scratch.vim
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/vim-abolish"]
	path = .vim/pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/pack/plugins/start/delimitMate"]
	path = .vim/pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/pack/plugins/start/vim-nerdtree-tabs"]
	path = .vim/pack/plugins/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule ".vim/pack/plugins/start/tasklist.vim"]
	path = .vim/pack/plugins/start/tasklist.vim
	url = https://github.com/vim-scripts/TaskList.vim
[submodule ".vim/pack/plugins/start/sparkup"]
	path = .vim/pack/plugins/start/sparkup
	url = https://github.com/rstacruz/sparkup
[submodule ".vim/pack/plugins/start/vim-speeddating"]
	path = .vim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule ".vim/pack/plugins/start/vim-powerline"]
	path = .vim/pack/plugins/start/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/pack/plugins/start/vim-json"]
	path = .vim/pack/plugins/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/pack/plugins/start/vim-peekaboo"]
	path = .vim/pack/plugins/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule ".vim/pack/plugins/start/ultisnips"]
	path = .vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/plugins/start/vim-snippets"]
	path = .vim/pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/pack/plugins/start/supertab"]
	path = .vim/pack/plugins/start/supertab
	url = http://github.com/ervandew/supertab
[submodule ".vim/pack/plugins/start/vim-template"]
	path = .vim/pack/plugins/start/vim-template
	url = https://github.com/aperezdc/vim-template
[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/plugins/start/vim-over"]
	path = .vim/pack/plugins/start/vim-over
	url = https://github.com/osyo-manga/vim-over
[submodule ".vim/pack/plugins/start/vim-autoformat"]
	path = .vim/pack/plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/vim-move"]
	path = .vim/pack/plugins/start/vim-move
	url = https://github.com/matze/vim-move
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/vim-diffchanges"]
	path = .vim/pack/plugins/start/vim-diffchanges
	url = http://github.com/jmcantrell/vim-diffchanges
[submodule ".vim/pack/plugins/start/hammer.vim"]
	path = .vim/pack/plugins/start/hammer.vim
	url = https://github.com/wikimatze/hammer.vim
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pack/plugins/start/emmet-vim"]
	path = .vim/pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/plugins/start/vim-hashicorp-tools"]
	path = .vim/pack/plugins/start/vim-hashicorp-tools
	url = https://github.com/hashivim/vim-hashicorp-tools.git
[submodule ".vim/pack/plugins/start/vim-mundo"]
	path = .vim/pack/plugins/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule ".vim/pack/plugins/start/vim-gutentags"]
	path = .vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/plugins/start/vimade"]
	path = .vim/pack/plugins/start/vimade
	url = https://github.com/TaDaa/vimade
[submodule ".vim/pack/plugins/start/typescript-vim"]
	path = .vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/plugins/start/vim-jsx-typescript"]
	path = .vim/pack/plugins/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/vim-startify"]
	path = .vim/pack/plugins/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule ".vim/pack/plugins/start/limelight.vim"]
	path = .vim/pack/plugins/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/pack/plugins/start/goyo.vim"]
	path = .vim/pack/plugins/start/goyo.vim
	url = https://github.com/phanimahesh/goyo.vim
	branch = feat/add-filetype
[submodule ".vim/pack/plugins/start/vim-devicons"]
	path = .vim/pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/pack/plugins/start/devdocs.vim"]
	path = .vim/pack/plugins/start/devdocs.vim
	url = https://github.com/rhysd/devdocs.vim
[submodule ".vim/pack/plugins/start/is.vim"]
	path = .vim/pack/plugins/start/is.vim
	url = https://github.com/haya14busa/is.vim
[submodule ".vim/pack/plugins/start/startuptime.vim"]
	path = .vim/pack/plugins/start/startuptime.vim
	url = https://github.com/tweekmonster/startuptime.vim
[submodule ".vim/pack/plugins/start/vim-matchup"]
	path = .vim/pack/plugins/start/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule ".vim/pack/plugins/start/vim-disapprove-deep-indentation"]
	path = .vim/pack/plugins/start/vim-disapprove-deep-indentation
	url = https://github.com/dodie/vim-disapprove-deep-indentation
[submodule ".vim/pack/plugins/start/vim-shortcut"]
	path = .vim/pack/plugins/start/vim-shortcut
	url = https://github.com/sunaku/vim-shortcut
[submodule ".vim/pack/plugins/start/vim-cursorword"]
	path = .vim/pack/plugins/start/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword
[submodule ".vim/pack/plugins/start/vim-anyfold"]
	path = .vim/pack/plugins/start/vim-anyfold
	url = https://github.com/pseewald/vim-anyfold
[submodule ".vim/pack/plugins/start/vim-fold-cycle"]
	path = .vim/pack/plugins/start/vim-fold-cycle
	url = https://github.com/arecarn/vim-fold-cycle
[submodule ".vim/pack/plugins/start/notational-fzf-vim"]
	path = .vim/pack/plugins/start/notational-fzf-vim
	url = https://github.com/alok/notational-fzf-vim
[submodule ".vim/pack/plugins/start/vim-cutlass"]
	path = .vim/pack/plugins/start/vim-cutlass
	url = https://github.com/svermeulen/vim-cutlass
[submodule ".vim/pack/plugins/start/vim-jsx-pretty"]
	path = .vim/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
