[submodule ".vim/autoload"]
	path = .vim/autoload
	url = git://github.com/paulnicholson/vim-pathogen.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
